<!-- Striped table -->
<div class="pmd-card-title">
  <h2 class="pmd-card-title-text"><%= t "layouts.home.list_forecasts​" %></h2>
</div>
<div class="table-responsive">
  <div class="pmd-card pmd-z-depth">
      <!-- Table -->
    <table class="table pmd-table table-striped table-mc-red">
      <thead>
        <tr>
          <th><%= t "layouts.home.table.analyst_profile" %></th>
          <th><%= t "layouts.home.table.position" %></th>
          <th><%= t "layouts.home.table.price_target" %></th>
          <th><%= t "layouts.home.table.up_downside" %></th>
          <th><%= t "layouts.home.table.follow" %></th>
          <th><%= t "layouts.home.table.detail" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="profile">Hoang Anh</td>
          <td data-title="position">Buy</td>
          <td data-title="price_target">100,000 VND</td>
          <td data-title="up_dow">+40.14%</td>
          <td data-title="follow"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">person_add</i></a></td>
          <td data-title="detail"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">launch</i></a></td>
        </tr>
        <tr>
          <td data-title="profile">Hoang Anh</td>
          <td data-title="position">Sell</td>
          <td data-title="price_target">50,000 VND</td>
          <td data-title="up_dow">-20.18%</td>
          <td data-title="follow"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">person_add</i></a></td>
          <td data-title="detail"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">launch</i></a></td>
        </tr>
        <tr>
          <td data-title="profile">Hoang Anh</td>
          <td data-title="position">Hold</td>
          <td data-title="price_target">90,000 VND</td>
          <td data-title="up_dow">+30.95%</td>
          <td data-title="follow"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">person_add</i></a></td>
          <td data-title="detail"><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">launch</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
