<div class="pmd-card-title">
  <div class="col-sm-6">
    <h2 class="pmd-card-title-text">CTCP tập đoàn Hoà Phát</h2>
    <span class="pmd-card-title-text">(HOSE: HPG)</span>
  </div>
  <div class="col-sm-3">
    <h2 class="pmd-card-title-text">Giá hiện tại</h2>
    <span class="pmd-card-title-text">51,400 VND</span>
  </div>
  <div class="col-sm-3 text-right">
    <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button" data-toggle="tooltip" data-placement="top"
      title="<%= t "layouts.home.chart_stock.follow" %>"><i class="material-icons pmd-sm">bookmark</i></button>
    <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button" data-toggle="tooltip" data-placement="top"
      title="<%= t "layouts.home.chart_stock.contact" %>"><i class="material-icons pmd-sm">launch</i></button>
  </div>
</div>
<div class="col-sm-4">
   <%= render "static_pages/expert_chart1" %>
 </div>
<div class="col-sm-8">
   <%= render "static_pages/stock_chart1" %>
</div>
<hr>
<%= render "static_pages/table" %>
