<div class="pmd-card-title inline-block-100">
  <div class="inline-block-100">
    <div class="col-sm-10 border-right">
      <div class="inline-block-100">
        <div class="col-sm-4">
          <h2 class="pmd-card-title-text"><%= stock.company_name %></h2>
          <span class="pmd-card-title-text">(<%= stock.exchange_name %>: <%= stock.code %>)</span>
        </div>
        <div class="col-sm-4">
          <h2 class="pmd-card-title-text">Giá hiện tại</h2>
          <span class="pmd-card-title-text">
            <%= number_to_currency(stock.current_price, locale: :vn) %>
          </span>
        </div>
        <div class="col-sm-4 text-right">
          <% if stock.followed %>
            <%= render "follow_stocks/delete", stock: stock %>
          <% else %>
            <%= render "follow_stocks/new", stock: stock %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="inline-block-100">
        <div class="col-sm-4 text-center">
          <div>
            <span class="pmd-card-subtitle-text">Khuyến nghị:</span>
            <h2 class="pmd-card-title-text"><%= stock.analyst_consensus %></h2>
          </div>
          <hr>
          <div class="pmd-card-body">
            <%= hidden_field_tag "positions", stock.positions.to_json  %>
            <canvas id="position-chart"></canvas>
          </div>
          <hr>
          <div class="user-vote">
            <h2>Ý kiến người dùng</h2>
            <div class="user-vote-form">
              <%= render "votes/vote", stock: stock %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <span class="pmd-card-title-text">Giá dự đoán trung bình của các chuyên gia</span>
          <h1 class="pmd-card-title-text">
            <%= number_to_currency(stock.average_price, locale: :vn) %>
          </h1>
          <hr>
          <div class="pmd-card-body">
            <%= hidden_field_tag "pricePasts", stock.price_pasts.to_json %>
            <%= hidden_field_tag "lowestPrice", stock.lowest_price.to_json %>
            <%= hidden_field_tag "averagePrice", stock.average_price.to_json %>
            <%= hidden_field_tag "highestPrice", stock.highest_price.to_json %>
            <canvas id="stock-chart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <h3 class="pmd-card-title-text text-center"><b>Chỉ số cơ bản</b></h3>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.revenue" %></div>
        <div class="text-left"><b><%= stock.stock_overview.revenue %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.eps" %></div>
        <div><b><%= stock.stock_overview.eps %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.volume" %></div>
        <div><b><%= stock.stock_overview.volume %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.dividend_yield" %></div>
        <div><b><%= stock.stock_overview.dividend_yield %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.pe_ratio" %></div>
        <div><b><%= stock.stock_overview.pe_ratio %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.beta" %></div>
        <div><b><%= stock.stock_overview.beta %></b></div>
      </div>
      <hr>
      <div class="post-stock-item">
        <div><%= t "stocks.show.overview.year_change" %></div>
        <div><b><%= stock.stock_overview.year_change %>%</b></div>
      </div>
    </div>
  </div>

  <div class="related-posts inline-block-100 border-top">
    <div class="related-posts-item">
      <div style="padding: 10px 0;">
        <div class="inline">Phân tích MUA</div>
        <select>
          <option>Hàng đầu</option>
          <option>Hot</option>
          <option>Mới nhất</option>
        </select>
      </div>
      <div>
        <% stock.buy_of_posts.each do |post| %>
          <li><%= link_to post.title, post_path(post.display_id) %></li>
        <% end %>
      </div>
    </div>
    <div class="related-posts-item border-left">
      <div style="padding: 10px 0;">
        <div class="inline">Phân tích GIỮ</div>
        <select>
          <option>Hàng đầu</option>
          <option>Hot</option>
          <option>Mới nhất</option>
        </select>
      </div>
      <div>
        <% stock.hold_of_posts.each do |post| %>
          <li><%= link_to post.title, post_path(post.display_id) %></li>
        <% end %>
      </div>      
    </div>
    <div class="related-posts-item border-left">
      <div style="padding: 10px 0;">
        <div class="inline">Phân tích BÁN</div>
        <select>
          <option>Hàng đầu</option>
          <option>Hot</option>
          <option>Mới nhất</option>
        </select>
      </div>
      <div>
        <% stock.sell_of_posts.each do |post| %>
          <li><%= link_to post.title, post_path(post.display_id) %></li>
        <% end %>
      </div>      
    </div>        
  </div>
</div>

<script>
  var pricePasts    = JSON.parse($("#pricePasts").val())
  var labels        = []
  var pastPrices    = []
  var lowestPrices  = []
  var averagePrices = []
  var highestPrices = []
  for(pricePast of pricePasts) {
    labels.push(pricePast["time"])
    pastPrices.push(pricePast["price"])
    lowestPrices.push(null)
    averagePrices.push(null)
    highestPrices.push(null)
  }
  pastPrices[pastPrices.length - 1]       = null
  lowestPrices[lowestPrices.length - 2]   = pastPrices[pastPrices.length - 2]
  averagePrices[averagePrices.length - 2] = pastPrices[pastPrices.length - 2]
  highestPrices[highestPrices.length - 2] = pastPrices[pastPrices.length - 2]
  lowestPrices[lowestPrices.length - 1]   = parseInt($("#lowestPrice").val())
  averagePrices[averagePrices.length - 1] = parseInt($("#averagePrice").val())
  highestPrices[highestPrices.length - 1] = parseInt($("#highestPrice").val())
  var stockChartData = {
    labels: labels,
    datasets: [
      {
        label: "Past Price",
        data: pastPrices,
        backgroundColor: "#5d5d5e",
        borderColor: "#5d5d5e",
        pointBackgroundColor: "transparent"
      },
      {
        label: "Lowest Price",
        data: lowestPrices,
        borderColor: "rgb(255, 99, 132)",
        borderDash: [20, 30],
        pointBackgroundColor: "transparent"
      },
      {
        label: "Average Price",
        data: averagePrices,
        borderColor: "rgb(0,255,0,1)",
        borderDash: [20, 30],
        pointBackgroundColor: "transparent"
      },
      {
        label: "Highest Price",
        data: highestPrices,
        borderColor: "#66f",
        borderDash: [20, 30],
        pointBackgroundColor: "transparent"
      }
    ]
  };
  var stockCtx   = document.getElementById("stock-chart").getContext("2d");
  var stockChart = new Chart(stockCtx, {
    type: "line",
    data: stockChartData,
    options: {
      elements: {
        line: {
          fill: false
        }
      }, 
      plugins: {
        tooltip: {
          yAlign: "bottom"
        }
      }
    }
  });

  var positionData = {
    datasets: [
      {
        data: JSON.parse($("#positions").val()),
        backgroundColor: [
          "rgb(255, 99, 132)",
          "rgb(54, 162, 235)",
          "rgb(255, 205, 86)"
        ],
        hoverOffset: 4
      }
    ], 
    labels: [
      "Buy",
      "Hold",
      "Sell"
    ]
  };
  var positionCtx   = document.getElementById("position-chart").getContext("2d");
  var positionChart = new Chart(positionCtx, {
    type: "doughnut",
    data: positionData,
    options: { 
      plugins: {
        tooltip: {
          yAlign: "bottom"
        }
      }
    }
  });
</script>
