<!-- Striped table -->
<div class="table-responsive">
  <div class="pmd-card pmd-z-depth">
      <!-- Table -->
    <table class="table pmd-table table-striped table-mc-red">
      <thead>
        <tr>
          <th><%= t "stocks.show.code" %></th>
          <th><%= t "stocks.show.exchange_name" %></th>
          <th><%= t "stocks.show.company_name" %></th>
          <th><%= t "stocks.show.current_price" %></th>
          <th><%= t "stocks.show.price_forecast_low" %></th>
          <th><%= t "stocks.show.price_forecast_average" %></th>
          <th><%= t "stocks.show.price_forecast_high" %></th>
        </tr>
      </thead>
      <tbody>
        <% stocks.each do |stock| %>
          <tr>
            <td data-title="code">
              <%= link_to stock.code, stock_path(stock.display_id), "data-turbolinks": "false" %>
            </td>
            <td data-title="exchange_name"><%= stock.exchange_name %></td>
            <td data-title="company_name"><%= stock.company_name %></td>
            <td data-title="current_price">
              <%= number_to_currency(stock.current_price, locale: :vn) %>
            </td>
            <td data-title="price_forecast_low"><%= stock.lowest_price %></td>
            <td data-title="price_forecast_average"><%= stock.average_price %></td>
            <td data-title="price_forecast_high"><%= stock.highest_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
