<div class="container">
  <div class="row">
    <div class="table-responsive">
      <div class="pmd-card pmd-z-depth">
        <table class="table pmd-table table-striped table-mc-red">
          <thead>
            <tr>
              <th><%= t "stocks.index.code" %></th>
              <th><%= t "stocks.index.company_name" %></th>
              <th><%= t "stocks.index.exchange_name" %></th>
              <th><%= t "stocks.index.current_price" %></th>
              <th><%= t "stocks.index.sector" %></th>
              <th><%= t "stocks.index.industry" %></th>
              <th><%= t "stocks.index.analyst_consensus" %></th>
              <th><%= t "stocks.index.article" %></th>
            </tr>
          </thead>
          <tbody>
            <% @stocks.each do |stock| %>
              <tr>
                <td data-title="code">
                  <%= link_to stock.code, stock_path(stock.display_id), 
                    "data-turbolinks": "false" %>
                </td>
                <td data-title="company_name"><%= stock.company_name %></td>
                <td data-title="exchange_name"><%= stock.exchange_name %></td>
                <td data-title="current_price">
                  <%= number_to_currency(stock.current_price, locale: :vn) %>
                </td>
                <td data-title="sector"><%= stock.sector %></td>
                <td data-title="industry"><%= stock.industry %></td>
                <td data-title="analyst_consensus"><%= stock.analyst_consensus %></td>
                <td data-title="article">
                  <div data-badge="<%= stock.number_of_posts %>" 
                    class="material-icons pmd-md pmd-badge pmd-badge-overlap">
                    description
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @stocks, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
