<br>
<div class="logincard">
	<div class="container">
    	<div class="row">
	    	<div class="col-sm-6 col-sm-offset-3  pmd-z-depth-1">
	            <div class="pmd-card-title card-header-border text-center">
	                <h3><%= t "layouts.forgot_password.title" %><br><span><h3><%= t "layouts.forgot_password.description" %></span></h3>
	            </div>
	            <%= form_for(resource, as: resource_name, url: password_path(resource_name),
	               html: { method: :post }) do |f| %>
	               <%= devise_error_messages! %>

		            <div class="pmd-card-body">
		                <div class="form-group pmd-textfield pmd-textfield-floating-label">
			                <%= f.label :email, class: "control-label pmd-input-group-label" %>
			                <div class="input-group">
			                    <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
			                    <%= f.email_field :email, autofocus: true, class: "form-control" %><span class="pmd-textfield-focused"></span>
			                </div>
			            </div>
		            </div>
		              <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
		                <div class="actions">
			                <br>
			                <%= f.submit t("layouts.forgot_password.submit"),
			                  class: "btn btn-primary center-block btn-block" %>
			             </div>
			            <p class="redirection-link"><%= t "layouts.forgot_password.already_account" %>
			            	<%= link_to new_user_session_path, "data-turbolinks":"false",
						        class: "register-login" do %>
						        <%= t "layouts.login.title" %>
						    <% end %>
			            </p>
		              </div>
	            <% end %>
		    </div>
    	</div>
	</div>
</div>
<br>
