<div class="pmd-card pmd-z-depth post-item post-middle">
  <div>
    <span class="post-title"><%= post.title %></span>
    <div class="post-metadata">
      <span class="post-time"><%= post.updated_at %></span>
      <span class="post-stock-name"><%= post.stock_company_name %></span>
    </div>
  </div>
  <div class="post-body">
    <%= post.content %>
  </div>
  <div class="post-footer">
    <div class="post-footer-action">
      <div class="post-like-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span><%= post.like_number %> lượt thích</span>
        </button>
      </div>
      <div class="post-comment-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span><%= post.comment_number %> bình luận</span>
        </button>
      </div>
    </div>
    <div class="post-comments">
      <div class="post-comment-form">
        <div class="comment-filter">
          <span class="comment-filter-title">Sắp xếp theo: </span>
          <select class="comment-filter-select">
            <option selected>Mới nhất</option>
            <option value="1">Cũ nhất</option>
          </select>
        </div>
        <form class="comment-form">
          <textarea name="content" class="comment-input"></textarea>
          <button class="btn pmd-ripple-effect">Bình luận</button>
        </form>
      </div>
      <div>
        <% post.comments.each do |comment| %>
          <%= render "post_comment", comment: comment %>
        <% end %>        
      </div>
    </div>
  </div>
</div>
