<div class="pmd-card pmd-z-depth post-item post-middle">
  <div>
    <div class="post-middle-header">
      <span class="post-title"><%= post.title %></span>
      <% if current_user and current_user.expert? and current_user.expert.id == post.expert_id %>
        <div class="post-setting">
          <i class="fa fa-ellipsis-h post-setting-icon" aria-hidden="true"
            onclick="onOffSetting()"></i>
          <div class="post-setting-options" id="post-setting-options">
            <%= link_to "Sửa bài viết", edit_post_path(post.display_id),
              class: "post-setting-option" %>  
            <%= link_to "Xóa bài viết", edit_post_path(post.display_id),
              class: "post-setting-option" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-metadata">
      <span class="post-time"><%= post.updated_at %></span>
      <span class="post-stock-name"><%= post.stock_company_name %></span>
    </div>
  </div>
  <div class="post-body">
    <%= post.content %>
  </div>
  <div class="post-footer">
    <div class="post-footer-action">
      <div class="post-like-btn">
        <% if like.liked %>
          <%= render "likes/delete", post: post, like: like %>
        <% else %>
          <%= render "likes/new", post: post, like: like %>
        <% end %>
      </div>
      <div class="post-comment-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span><%= post.comment_number %> bình luận</span>
        </button>
      </div>
    </div>
    <div class="post-comments">
      <div class="post-comment-form">
        <div class="comment-filter">
          <span class="comment-filter-title">Sắp xếp theo: </span>
          <select class="comment-filter-select">
            <option selected>Mới nhất</option>
            <option value="1">Cũ nhất</option>
          </select>
        </div>
        <form class="comment-form">
          <textarea name="content" class="comment-input"></textarea>
          <button class="btn pmd-ripple-effect">Bình luận</button>
        </form>
      </div>
      <div>
        <% post.comments.each do |comment| %>
          <%= render "post_comment", comment: comment %>
        <% end %>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function onOffSetting() {
    var postOptions = document.getElementById("post-setting-options")
    if(postOptions.style.display == "") {
      postOptions.style.display = "flex"
    } else {
      postOptions.style.display = ""
    }
  }
</script>
