<div class="pmd-card pmd-z-depth post-item post-middle">
  <div>
    <div class="post-middle-header">
      <span class="post-title"><%= post.title %></span>
      <% if post.user.expert and (post.user.expert.display_id == post.expert.display_id) %>
        <div class="post-setting">
          <i class="fa fa-ellipsis-h post-setting-icon" aria-hidden="true"
            onclick="onOffSetting()"></i>
          <div class="post-setting-options" id="post-setting-options">
            <%= link_to "Sửa bài viết", edit_post_path(post.display_id),
              class: "post-setting-option" %>  
            <%= link_to "Xóa bài viết", edit_post_path(post.display_id),
              class: "post-setting-option" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-metadata">
      <span class="post-time"><%= post.updated_at %></span>
      <span class="post-stock-name"><%= post.stock.company_name %></span>
    </div>
  </div>
  <div class="post-body">
    <%= post.content %>
  </div>
  <div class="post-footer">
    <div class="post-footer-action">
      <div class="post-like-btn">
        <% if post.like.liked %>
          <%= render "likes/delete", likes: post.likes, like: post.like %>
        <% else %>
          <%= render "likes/new", likes: post.likes, post_display_id: post.display_id %>
        <% end %>
      </div>
      <div class="post-comment-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span><%= post.comments.size %> bình luận</span>
        </button>
      </div>
    </div>
    <div class="post-comments">
      <div class="post-comment-form">
        <div class="comment-filter">
          <span class="comment-filter-title">Sắp xếp theo: </span>
          <select class="comment-filter-select">
            <option selected>Mới nhất</option>
            <option value="1">Cũ nhất</option>
          </select>
        </div>
        <%= form_with url: comments_path, local: true, method: :post, 
          class: "comment-form" do |f| %>
          <%= f.text_area :content, class: "comment-input" %>
          <%= f.hidden_field :post_display_id, value: post.display_id %>            
          <%= f.submit "Bình luận", class: "btn pmd-ripple-effect" %>         
        <% end %>
      </div>
      <div>
        <% post.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment, post: post %>
        <% end %>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function onOffSetting() {
    var postOptions = document.getElementById("post-setting-options")
    if(postOptions.style.display == "") {
      postOptions.style.display = "flex"
    } else {
      postOptions.style.display = ""
    }
  }
</script>
<script type="text/javascript">
  function onOffCommentSetting(event) {
    var commentOptions = event.srcElement.nextElementSibling
    if(commentOptions.style.display == "") {
      commentOptions.style.display = "flex"
    } else {
      commentOptions.style.display = ""
    }
  }

  function submitDeleteComment(event) {
    event.preventDefault();
    var deleteCommentForm = event.srcElement.nextElementSibling
    deleteCommentForm.submit()
  }

  function onOffEditCommentForm(event) {
    event.preventDefault();
    var commentOptions = event.srcElement.parentElement
    if(commentOptions.style.display == "") {
      commentOptions.style.display = "flex"
    } else {
      commentOptions.style.display = ""
    }
    var id = event.srcElement.id
    document.getElementById("comment-body-" + id).style.display = "none"
    document.getElementById("edit-comment-form-" + id).style.display = "block"
  }
</script>
