<div class="container posts">
  <div class="pmd-card pmd-z-depth posts-left">
    <p class="posts-title">Bài đăng nổi bật</p>
    <%= render "popular_post" %>
    <%= render "popular_post" %>
    <%= render "popular_post" %>
  </div>
  <div class="pmd-card pmd-z-depth posts-right">
    <p class="posts-title">Bài đăng mới nhất</p>
    <%= render "newest_post" %>
    <%= render "newest_post" %>
  </div>
</div>
