<!--navbar -->
<nav class="navbar pmd-navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="pmd-ripple-effect navbar-toggle pmd-navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--navbar -->
        
        <div class="pmd-navbar-right-icon pull-right">
            <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons md-light pmd-sm">search</i></a>
        </div>  
        
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">
            <ul class="nav navbar-nav">
                <li class="dropdown pmd-dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" data-sidebar="true" class="pmd-ripple-effect dropdown-toggle" href="javascript:void(0);"><%= t "layouts.navbar.experts.title" %><span class="caret"></span></a>
                    <div class="pmd-dropdown-menu-container"><div class="pmd-dropdown-menu-bg"></div><ul role="menu" class="dropdown-menu pm-ini" style="clip: rect(0px, 0px, 0px, 0px);">
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.experts.my" %></a></li>
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.experts.top" %></a></li>                    
                    </ul></div>
                </li>
                <li class="dropdown pmd-dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" data-sidebar="true" class="pmd-ripple-effect dropdown-toggle" href="javascript:void(0);"><%= t "layouts.navbar.news.title" %><span class="caret"></span></a>
                    <div class="pmd-dropdown-menu-container"><div class="pmd-dropdown-menu-bg"></div><ul role="menu" class="dropdown-menu pm-ini" style="clip: rect(0px, 0px, 0px, 0px);">
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.news.my" %></a></li>
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.news.trending" %></a></li>                    
                    </ul></div>
                </li>
                <li class="dropdown pmd-dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" data-sidebar="true" class="pmd-ripple-effect dropdown-toggle" href="javascript:void(0);"><%= t "layouts.navbar.categories.title" %><span class="caret"></span></a>
                    <div class="pmd-dropdown-menu-container"><div class="pmd-dropdown-menu-bg"></div><ul role="menu" class="dropdown-menu pm-ini" style="clip: rect(0px, 0px, 0px, 0px);">
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.categories.my" %></a></li>
                        <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.categories.list" %></a></li>                    
                    </ul></div>
                </li>
                <li><a class="pmd-ripple-effect" href="javascript:void(0);"><%= t "layouts.navbar.groups.title" %></a></li>
            </ul>
        </div>
        <!--navbar -->
    </div>
    <div class="pmd-sidebar-overlay"></div>
</nav>
<script type="text/javascript" src="https://themes.propeller.in/bootstrap3/html/propeller-bootstrap-starter-templates/assets/js/starter-templates-compress.min.js" data-turbolinks-track="reload"></script>
