<!DOCTYPE html>
<html>
  <head>
    <title>Ias</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/navbar" %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
